.vine form, form.vine {
    margin: 0;
    padding: 0;
    border: 0;
}

.vine .fieldset,
.vine input[type="text"],
.vine input[type="password"],
.vine input[type="number"],
.vine input[type="file"],
.vine select,
.vine textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.vine .fieldset {
    overflow: hidden;
    border: 1px solid #ccc;
    padding-bottom: 15px;
}

.vine .legend {
    margin: 0;
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
    color: #000;
    font-weight: bold;
}

.vine .legend span {
    float: right;
    font-weight: normal;
}

.vine label {
    display: block;
    margin: 15px 0 5px;
    height: 1.25em;
}

.vine input[type="text"],
.vine input[type="password"],
.vine input[type="number"],
.vine input[type="file"],
.vine textarea,
.vine select {
    display: block;
    margin: 0;
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    font-family: inherit;
}

.vine input[type="text"]:focus,
.vine input[type="password"]:focus,
.vine input[type="number"]:focus,
.vine input[type="file"]:focus,
.vine textarea:focus,
.vine select:focus {
    border: 1px solid #999;
    outline: 0;
}

.vine input[type="text"],
.vine input[type="password"],
.vine input[type="number"],
.vine input[type="file"] {
    height: 2.5em;
}

/* (Firefox) Tidying style when file.js is not being used */
@-moz-document url-prefix() {
    .vine input[type="file"] {
        padding: 0;
    }
}

.vine textarea {
    overflow: auto;
    min-height: 5em;
    vertical-align: top;
}

.vine select {
    height: 2.5em;
    -webkit-appearance: none;
}

.vine-select,
.vine-file {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2.5em;
    border: 1px solid #ccc;
    background: #fff;
    font-family: inherit;
}

.vine-select select,
.vine-file input {
    position: absolute;
    z-index: 992;
    margin: 0;
    padding: 0;
    height: 2.5em;
    opacity: 0;                                                       /* Good browsers */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0);                                         /* IE 5-7 */
    -moz-opacity: 0;                                                  /* Netscape */
    -khtml-opacity: 0;                                                /* Safari 1.x */
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .vine-select select {
        margin-bottom: 1px !important;
    }
}

.vine-select .vine-text {
    position: absolute;
    z-index: 991;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 8px;
    width: 100%;
    border-right: 2em solid transparent;
    white-space: nowrap;
    line-height: 2.5em;
}

.vine-select .vine-arrow {
    position: absolute;
    top: 1em;
    right: 0.6em;
    width: 0;
    height: 0;
    border-width: 0.6em;
    border-style: solid;
    border-color: #aaa transparent transparent transparent;
}

.vine-select.vine-focus {
    border: 1px solid #999;
}

.vine-select.vine-focus .vine-arrow {
    border-color: #555 transparent transparent transparent;
}

.vine-file .vine-text {
    position: absolute;
    z-index: 990;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 8px;
    white-space: nowrap;
    line-height: 2.5em;
}

.vine-file .vine-button {
    position: absolute;
    z-index: 991;
    top: -1px;
    right: -1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
    height: 2.5em;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #444;
    line-height: 2.5em;
    cursor: pointer;
}

.vine-file.vine-focus {
    border: 1px solid #999;
}

.vine-file.vine-focus .vine-button {
    border: 1px solid #999;
    background-color: #efefef;
    color: #000;
}

.vine-checkbox-wrap,
.vine-radio-wrap {
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 2.5em;
    width: 2.5em;
    vertical-align: top;
}

.vine-checkbox-wrap input[type="checkbox"],
.vine-radio-wrap input[type="radio"] {
    display: none;
}

.vine-checkbox,
.vine-radio {
    width: 2.2em;
    height: 2.5em;
    cursor: pointer;
    color: #777;
    line-height: 2.7em;
}

.vine-checkbox.disabled,
.vine-radio.disabled {
    color: #CCC;
}

.vine-checkbox:before,
.vine-radio:before {
    font-size: 2em;
    display: block;
    text-align: left;
}

.vine-checkbox:before {
    content: "\f096";
}

.vine-checkbox.checked:before {
    content: "\f046";
}

.vine-radio:before {
    content: "\f10c";
}

.vine-radio.checked:before {
    content: "\f192";
}

.vine-rounded .fieldset,
.vine-rounded input[type="text"],
.vine-rounded input[type="password"],
.vine-rounded input[type="file"],
.vine-rounded textarea,
.vine-rounded select,
.vine-rounded .vine-select,
.vine-rounded .vine-file {
    border-radius: 4px;
}

.vine-rounded .vine-file .vine-button {
    border-radius: 0 4px 4px 0;
}

.vine-rounded .legend {
    border-radius: 3px 3px 0 0;
}

/**
 * Error styles.
 */
.vine-error-field {
    border: 1px solid #eb5a5a !important;
}

.vine-error-field .vine-field-error {
    border: 1px solid transparent !important;
}

.vine-error-field .vine-button {
    border: 1px solid #eb5a5a !important;
}

/**
 * Phone Styles
 */
@media (max-width: 767px) { }

/**
 * Tablet Styles
 */
@media (min-width: 768px) { }

/**
 * Desktop Styles
 */
@media (min-width: 992px) { }
