.vine [class*="col-"],
.vine [class*="shift-"] {
    position: relative;
    float: left;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vine .col-1, .vine .col-sm-1, .vine .col-md-1, .vine .col-lg-1     { width: 8.33%; }
.vine .col-2, .vine .col-sm-2, .vine .col-md-2, .vine .col-lg-2     { width: 16.66%; }
.vine .col-3, .vine .col-sm-3, .vine .col-md-3, .vine .col-lg-3     { width: 25.00%; }
.vine .col-4, .vine .col-sm-4, .vine .col-md-4, .vine .col-lg-4     { width: 33.33%; }
.vine .col-5, .vine .col-sm-5, .vine .col-md-5, .vine .col-lg-5     { width: 41.66%; }
.vine .col-6, .vine .col-sm-6, .vine .col-md-6, .vine .col-lg-6     { width: 50.00%; }
.vine .col-7, .vine .col-sm-7, .vine .col-md-7, .vine .col-lg-7     { width: 58.33%; }
.vine .col-8, .vine .col-sm-8, .vine .col-md-8, .vine .col-lg-8     { width: 66.66%; }
.vine .col-9, .vine .col-sm-9, .vine .col-md-9, .vine .col-lg-9     { width: 75.00%; }
.vine .col-10, .vine .col-sm-10, .vine .col-md-10, .vine .col-lg-10 { width: 83.33%; }
.vine .col-11, .vine .col-sm-11, .vine .col-md-11, .vine .col-lg-11 { width: 91.66%; }
.vine .col-12, .vine .col-sm-12, .vine .col-md-12, .vine .col-lg-12 { width: 100.00%; }

.vine .shift-1, .vine .shift-sm-1, .vine .shift-md-1, .vine .shift-lg-1     { margin-left: 8.33%; }
.vine .shift-2, .vine .shift-sm-2, .vine .shift-md-2, .vine .shift-lg-2     { margin-left: 16.66%; }
.vine .shift-3, .vine .shift-sm-3, .vine .shift-md-3, .vine .shift-lg-3     { margin-left: 25.00%; }
.vine .shift-4, .vine .shift-sm-4, .vine .shift-md-4, .vine .shift-lg-4     { margin-left: 33.33%; }
.vine .shift-5, .vine .shift-sm-5, .vine .shift-md-5, .vine .shift-lg-5     { margin-left: 41.66%; }
.vine .shift-6, .vine .shift-sm-6, .vine .shift-md-6, .vine .shift-lg-6     { margin-left: 50.00%; }
.vine .shift-7, .vine .shift-sm-7, .vine .shift-md-7, .vine .shift-lg-7     { margin-left: 58.33%; }
.vine .shift-8, .vine .shift-sm-8, .vine .shift-md-8, .vine .shift-lg-8     { margin-left: 66.66%; }
.vine .shift-9, .vine .shift-sm-9, .vine .shift-md-9, .vine .shift-lg-9     { margin-left: 75.00%; }
.vine .shift-10, .vine .shift-sm-10, .vine .shift-md-10, .vine .shift-lg-10 { margin-left: 83.33%; }
.vine .shift-11, .vine .shift-sm-11, .vine .shift-md-11, .vine .shift-lg-11 { margin-left: 91.66%; }
.vine .shift-12, .vine .shift-sm-12, .vine .shift-md-12, .vine .shift-lg-12 { margin-left: 91.66%; }

.vine .pad,
.vine .padding,
.vine .mar,
.vine .margin,
.vine .row {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.vine .hang-left                       { float: left; }
.vine .hang-right                      { float: right; }
.vine .pad,       .vine .padding       { padding-right: 15px; padding-left: 15px; }
.vine .pad-h,     .vine .padding-h     { padding-right: 15px; padding-left: 15px; }
.vine .pad-v,     .vine .padding-v     { padding-top: 15px; padding-bottom: 15px; overflow: auto; }
.vine .pad-all,   .vine .padding-all   { padding: 15px; overflow: auto; }
.vine .pad-left,  .vine .padding-left  { padding-left: 15px; }
.vine .pad-right, .vine .padding-right { padding-right: 15px; }
.vine .mar,       .vine .margin        { margin-right: 15px; margin-left: 15px; }
.vine .mar-h,     .vine .margin-h      { margin-right: 15px; margin-left: 15px; }
.vine .mar-v,     .vine .margin-v      { margin-top: 15px; margin-bottom: 15px; overflow: auto; }
.vine .mar-left,  .vine .margin-left   { margin-left: 15px; }
.vine .mar-right, .vine .margin-right  { margin-right: 15px; }

.vine [class*="col-"] + [class*="col-"]:last-child {
    float: right;
}

.vine .row {
    margin: 0 auto;
    width: 100%;
}

.vine .row:before, .vine .row:after {
    display: table;
    content: " ";
}

.vine .row .row {
    width: auto;
}

.vine .row:after { display: block; visibility: hidden; clear: both; height: 0; content: ' '; font-size: 0; zoom: 1; }
* html .vine .row { zoom: 1; }
*:first-child+html .vine .row { zoom: 1; }

.vine .mar-top,   .vine .margin-top   { margin-top: 15px; }
.vine .mar-top-1, .vine .margin-top-1 { margin-top: 15px; }
.vine .mar-top-2, .vine .margin-top-2 { margin-top: 30px; }
.vine .mar-top-3, .vine .margin-top-3 { margin-top: 45px; }
.vine .mar-top-4, .vine .margin-top-4 { margin-top: 60px; }
.vine .mar-top-5, .vine .margin-top-5 { margin-top: 75px; }
.vine .mar-top-6, .vine .margin-top-6 { margin-top: 90px; }

.vine .mar-bottom,   .vine .margin-bottom   { margin-bottom: 15px; }
.vine .mar-bottom-1, .vine .margin-bottom-1 { margin-bottom: 15px; }
.vine .mar-bottom-2, .vine .margin-bottom-2 { margin-bottom: 30px; }
.vine .mar-bottom-3, .vine .margin-bottom-3 { margin-bottom: 45px; }
.vine .mar-bottom-4, .vine .margin-bottom-4 { margin-bottom: 60px; }
.vine .mar-bottom-5, .vine .margin-bottom-5 { margin-bottom: 75px; }
.vine .mar-bottom-6, .vine .margin-bottom-6 { margin-bottom: 90px; }

.vine .pad-top,   .vine .padding-top   { padding-top: 15px; }
.vine .pad-top-1, .vine .padding-top-1 { padding-top: 15px; }
.vine .pad-top-2, .vine .padding-top-2 { padding-top: 30px; }
.vine .pad-top-3, .vine .padding-top-3 { padding-top: 45px; }
.vine .pad-top-4, .vine .padding-top-4 { padding-top: 60px; }
.vine .pad-top-5, .vine .padding-top-5 { padding-top: 75px; }
.vine .pad-top-6, .vine .padding-top-6 { padding-top: 90px; }

.vine .pad-bottom,   .vine .padding-bottom   { padding-bottom: 15px; }
.vine .pad-bottom-1, .vine .padding-bottom-1 { padding-bottom: 15px; }
.vine .pad-bottom-2, .vine .padding-bottom-2 { padding-bottom: 30px; }
.vine .pad-bottom-3, .vine .padding-bottom-3 { padding-bottom: 45px; }
.vine .pad-bottom-4, .vine .padding-bottom-4 { padding-bottom: 60px; }
.vine .pad-bottom-5, .vine .padding-bottom-5 { padding-bottom: 75px; }
.vine .pad-bottom-6, .vine .padding-bottom-6 { padding-bottom: 90px; }

.vine .suck-left,  .vine .pull-left  { margin-left: -15px; }
.vine .suck-right, .vine .pull-right { margin-right: -15px; }

/**
 * Phones, tablets
 */
@media (max-width: 1024px) {
}

/**
 * Tablets, desktops
 */
@media (min-width: 768px) {
}

/**
 * Phones only
 */
@media (max-width: 767px) {
    .vine .sm-hang-left                           { float: left; }
    .vine .sm-hang-right                          { float: right; }
    .vine .sm-pad,        .vine .sm-padding       { padding-right: 15px; padding-left: 15px; }
    .vine .sm-pad-h,      .vine .sm-padding-h     { padding-right: 15px; padding-left: 15px; }
    .vine .sm-pad-v,      .vine .sm-padding-v     { padding-top: 15px; padding-bottom: 15px; }
    .vine .sm-pad-all,    .vine .sm-padding-all   { padding: 15px; }
    .vine .sm-pad-left,   .vine .sm-padding-left  { padding-left: 15px; }
    .vine .sm-pad-right,  .vine .sm-padding-right { padding-right: 15px; }
    .vine .sm-mar,        .vine .sm-margin        { margin-right: 15px; margin-left: 15px; }
    .vine .sm-mar-h,      .vine .sm-margin-h      { margin-right: 15px; margin-left: 15px; }
    .vine .sm-mar-v,      .vine .sm-margin-v      { margin-top: 15px; margin-bottom: 15px; }
    .vine .sm-mar-left,   .vine .sm-margin-left   { margin-left: 15px; }
    .vine .sm-mar-right,  .vine .sm-margin-right  { margin-right: 15px; }
    .vine .sm-suck-left,  .vine .sm-pull-left     { margin-left: -15px; }
    .vine .sm-suck-right, .vine .sm-pull-right    { margin-right: -15px; }

    .vine .col-sm-1  { width: 8.33% !important; }
    .vine .col-sm-2  { width: 16.66% !important; }
    .vine .col-sm-3  { width: 25.00% !important; }
    .vine .col-sm-4  { width: 33.33% !important; }
    .vine .col-sm-5  { width: 41.66% !important; }
    .vine .col-sm-6  { width: 50.00% !important; }
    .vine .col-sm-7  { width: 58.33% !important; }
    .vine .col-sm-8  { width: 66.66% !important; }
    .vine .col-sm-9  { width: 75.00% !important; }
    .vine .col-sm-10 { width: 83.33% !important; }
    .vine .col-sm-11 { width: 91.66% !important; }
    .vine .col-sm-12 { width: 100.00% !important; }

    .vine .shift-sm-1  { margin-left: 8.33% !important; }
    .vine .shift-sm-2  { margin-left: 16.66% !important; }
    .vine .shift-sm-3  { margin-left: 25.00% !important; }
    .vine .shift-sm-4  { margin-left: 33.33% !important; }
    .vine .shift-sm-5  { margin-left: 41.66% !important; }
    .vine .shift-sm-6  { margin-left: 50.00% !important; }
    .vine .shift-sm-7  { margin-left: 58.33% !important; }
    .vine .shift-sm-8  { margin-left: 66.66% !important; }
    .vine .shift-sm-9  { margin-left: 75.00% !important; }
    .vine .shift-sm-10 { margin-left: 83.33% !important; }
    .vine .shift-sm-11 { margin-left: 91.66% !important; }
    .vine .shift-sm-12 { margin-left: 91.66% !important; }
}

/**
 * Small phones only
 */
@media (max-width: 480px) {
    .vine .vsm-hang-left                            { float: left; }
    .vine .vsm-hang-right                           { float: right; }
    .vine .vsm-pad,        .vine .vsm-padding       { padding-right: 15px; padding-left: 15px; }
    .vine .vsm-pad-h,      .vine .vsm-padding-h     { padding-right: 15px; padding-left: 15px; }
    .vine .vsm-pad-v,      .vine .vsm-padding-v     { padding-top: 15px; padding-bottom: 15px; }
    .vine .vsm-pad-all,    .vine .vsm-padding-all   { padding: 15px; }
    .vine .vsm-pad-left,   .vine .vsm-padding-left  { padding-left: 15px; }
    .vine .vsm-pad-right,  .vine .vsm-padding-right { padding-right: 15px; }
    .vine .vsm-mar,        .vine .vsm-margin        { margin-right: 15px; margin-left: 15px; }
    .vine .vsm-mar-h,      .vine .vsm-margin-h      { margin-right: 15px; margin-left: 15px; }
    .vine .vsm-mar-v,      .vine .vsm-margin-v      { margin-top: 15px; margin-bottom: 15px; }
    .vine .vsm-mar-left,   .vine .vsm-margin-left   { margin-left: 15px; }
    .vine .vsm-mar-right,  .vine .vsm-margin-right  { margin-right: 15px; }
    .vine .vsm-suck-left,  .vine .vsm-pull-left     { margin-left: -15px; }
    .vine .vsm-suck-right, .vine .vsm-pull-right    { margin-right: -15px; }

    .vine .col-vsm-1  { width: 8.33% !important; }
    .vine .col-vsm-2  { width: 16.66% !important; }
    .vine .col-vsm-3  { width: 25.00% !important; }
    .vine .col-vsm-4  { width: 33.33% !important; }
    .vine .col-vsm-5  { width: 41.66% !important; }
    .vine .col-vsm-6  { width: 50.00% !important; }
    .vine .col-vsm-7  { width: 58.33% !important; }
    .vine .col-vsm-8  { width: 66.66% !important; }
    .vine .col-vsm-9  { width: 75.00% !important; }
    .vine .col-vsm-10 { width: 83.33% !important; }
    .vine .col-vsm-11 { width: 91.66% !important; }
    .vine .col-vsm-12 { width: 100.00% !important; }

    .vine .shift-vsm-1  { margin-left: 8.33% !important; }
    .vine .shift-vsm-2  { margin-left: 16.66% !important; }
    .vine .shift-vsm-3  { margin-left: 25.00% !important; }
    .vine .shift-vsm-4  { margin-left: 33.33% !important; }
    .vine .shift-vsm-5  { margin-left: 41.66% !important; }
    .vine .shift-vsm-6  { margin-left: 50.00% !important; }
    .vine .shift-vsm-7  { margin-left: 58.33% !important; }
    .vine .shift-vsm-8  { margin-left: 66.66% !important; }
    .vine .shift-vsm-9  { margin-left: 75.00% !important; }
    .vine .shift-vsm-10 { margin-left: 83.33% !important; }
    .vine .shift-vsm-11 { margin-left: 91.66% !important; }
    .vine .shift-vsm-12 { margin-left: 91.66% !important; }
}

/**
 * Tablets, desktops
 */
@media (min-width: 768px) {
    .vine .col-1, .vine .col-md-1   { width: 8.33% !important; }
    .vine .col-2, .vine .col-md-2   { width: 16.66% !important; }
    .vine .col-3, .vine .col-md-3   { width: 25.00% !important; }
    .vine .col-4, .vine .col-md-4   { width: 33.33% !important; }
    .vine .col-5, .vine .col-md-5   { width: 41.66% !important; }
    .vine .col-6, .vine .col-md-6   { width: 50.00% !important; }
    .vine .col-7, .vine .col-md-7   { width: 58.33% !important; }
    .vine .col-8, .vine .col-md-8   { width: 66.66% !important; }
    .vine .col-9, .vine .col-md-9   { width: 75.00% !important; }
    .vine .col-10, .vine .col-md-10 { width: 83.33% !important; }
    .vine .col-11, .vine .col-md-11 { width: 91.66% !important; }
    .vine .col-12, .vine .col-md-12 { width: 100.00% !important; }

    .vine .shift-1, .vine .shift-md-1   { margin-left: 8.33% !important; }
    .vine .shift-2, .vine .shift-md-2   { margin-left: 16.66% !important; }
    .vine .shift-3, .vine .shift-md-3   { margin-left: 25.00% !important; }
    .vine .shift-4, .vine .shift-md-4   { margin-left: 33.33% !important; }
    .vine .shift-5, .vine .shift-md-5   { margin-left: 41.66% !important; }
    .vine .shift-6, .vine .shift-md-6   { margin-left: 50.00% !important; }
    .vine .shift-7, .vine .shift-md-7   { margin-left: 58.33% !important; }
    .vine .shift-8, .vine .shift-md-8   { margin-left: 66.66% !important; }
    .vine .shift-9, .vine .shift-md-9   { margin-left: 75.00% !important; }
    .vine .shift-10, .vine .shift-md-10 { margin-left: 83.33% !important; }
    .vine .shift-11, .vine .shift-md-11 { margin-left: 91.66% !important; }
    .vine .shift-12, .vine .shift-md-12 { margin-left: 91.66% !important; }
}

/**
 * Tablets only
 */
@media (min-width: 768px) and (max-width: 1024px) {
    .vine .md-hang-left                           { float: left; }
    .vine .md-hang-right                          { float: right; }
    .vine .md-pad,        .vine .md-padding       { padding-right: 15px; padding-left: 15px; }
    .vine .md-pad-h,      .vine .md-padding-h     { padding-right: 15px; padding-left: 15px; }
    .vine .md-pad-v,      .vine .md-padding-v     { padding-top: 15px; padding-bottom: 15px; }
    .vine .md-pad-all,    .vine .md-padding-all   { padding: 15px; }
    .vine .md-pad-left,   .vine .md-padding-left  { padding-left: 15px; }
    .vine .md-pad-right,  .vine .md-padding-right { padding-right: 15px; }
    .vine .md-mar,        .vine .md-margin        { margin-right: 15px; margin-left: 15px; }
    .vine .md-mar-h,      .vine .md-margin-h      { margin-right: 15px; margin-left: 15px; }
    .vine .md-mar-v,      .vine .md-margin-v      { margin-top: 15px; margin-bottom: 15px; }
    .vine .md-mar-left,   .vine .md-margin-left   { margin-left: 15px; }
    .vine .md-mar-right,  .vine .md-margin-right  { margin-right: 15px; }
    .vine .md-suck-left,  .vine .md-pull-left     { margin-left: -15px; }
    .vine .md-suck-right, .vine .md-pull-right    { margin-right: -15px; }
}

/**
 * Desktops only
 */
@media (min-width: 1025px) {
    .vine .lg-hang-left                           { float: left; }
    .vine .lg-hang-right                          { float: right; }
    .vine .lg-pad,        .vine .lg-padding       { padding-right: 15px; padding-left: 15px; }
    .vine .lg-pad-h,      .vine .lg-padding-h     { padding-right: 15px; padding-left: 15px; }
    .vine .lg-pad-v,      .vine .lg-padding-v     { padding-top: 15px; padding-bottom: 15px; }
    .vine .lg-pad-all,    .vine .lg-padding-all   { padding: 15px; }
    .vine .lg-pad-left,   .vine .lg-padding-left  { padding-left: 15px; }
    .vine .lg-pad-right,  .vine .lg-padding-right { padding-right: 15px; }
    .vine .lg-mar,        .vine .lg-margin        { margin-right: 15px; margin-left: 15px; }
    .vine .lg-mar-h,      .vine .lg-margin-h      { margin-right: 15px; margin-left: 15px; }
    .vine .lg-mar-v,      .vine .lg-margin-v      { margin-top: 15px; margin-bottom: 15px; }
    .vine .lg-mar-left,   .vine .lg-margin-left   { margin-left: 15px; }
    .vine .lg-mar-right,  .vine .lg-margin-right  { margin-right: 15px; }
    .vine .lg-suck-left,  .vine .lg-pull-left     { margin-left: -15px; }
    .vine .lg-suck-right, .vine .lg-pull-right    { margin-right: -15px; }

    .vine .col-1, .vine .col-lg-1   { width: 8.33% !important; }
    .vine .col-2, .vine .col-lg-2   { width: 16.66% !important; }
    .vine .col-3, .vine .col-lg-3   { width: 25.00% !important; }
    .vine .col-4, .vine .col-lg-4   { width: 33.33% !important; }
    .vine .col-5, .vine .col-lg-5   { width: 41.66% !important; }
    .vine .col-6, .vine .col-lg-6   { width: 50.00% !important; }
    .vine .col-7, .vine .col-lg-7   { width: 58.33% !important; }
    .vine .col-8, .vine .col-lg-8   { width: 66.66% !important; }
    .vine .col-9, .vine .col-lg-9   { width: 75.00% !important; }
    .vine .col-10, .vine .col-lg-10 { width: 83.33% !important; }
    .vine .col-11, .vine .col-lg-11 { width: 91.66% !important; }
    .vine .col-12, .vine .col-lg-12 { width: 100.00% !important; }

    .vine .shift-1, .vine .shift-lg-1   { margin-left: 8.33% !important; }
    .vine .shift-2, .vine .shift-lg-2   { margin-left: 16.66% !important; }
    .vine .shift-3, .vine .shift-lg-3   { margin-left: 25.00% !important; }
    .vine .shift-4, .vine .shift-lg-4   { margin-left: 33.33% !important; }
    .vine .shift-5, .vine .shift-lg-5   { margin-left: 41.66% !important; }
    .vine .shift-6, .vine .shift-lg-6   { margin-left: 50.00% !important; }
    .vine .shift-7, .vine .shift-lg-7   { margin-left: 58.33% !important; }
    .vine .shift-8, .vine .shift-lg-8   { margin-left: 66.66% !important; }
    .vine .shift-9, .vine .shift-lg-9   { margin-left: 75.00% !important; }
    .vine .shift-10, .vine .shift-lg-10 { margin-left: 83.33% !important; }
    .vine .shift-11, .vine .shift-lg-11 { margin-left: 91.66% !important; }
    .vine .shift-12, .vine .shift-lg-12 { margin-left: 91.66% !important; }
}
