.vine-table {
    overflow: hidden;
}

.vine-table-wrap {
    position: relative;
}

.vine-table .vine-sort-wrap {
    display: none;
}

.vine-table tbody tr td.empty-text {
    font-style: normal;
    text-align: center;
}

.vine-table .stylize {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ccc;
    border-spacing: 0;
    border-collapse: separate;
    zoom: 1;
}

.vine-table .stylize thead th,
.vine-table .stylize thead td {
    padding: 10px 15px;
    color: #000;
    text-align: left;
    white-space: nowrap;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px solid #ccc;
}

.vine-table .stylize tbody tr td {
    border-top: 1px solid #ccc;
}

.vine-table .stylize tbody tr td.empty-text {
    border-top: 0 !important;
}

.vine-table .stylize tbody tr.first td {
    border-top: 0 !important;
}

.vine-table .stylize tbody td {
    padding: 10px 15px;
    line-height: 1.5;
}

.vine-table .sortable thead th,
.vine-table .sortable thead td,
.vine-table thead th.sortable,
.vine-table thead td.sortable {
    cursor: pointer;
}

.vine-table .stylize .vine-name {
    position: relative;
    line-height: 1.5;
    padding: 0 15px 0 0;
}

.vine-table .stylize.sortable thead tr th:last-child,
.vine-table .stylize.sortable thead tr td:last-child,
.vine-table .stylize thead tr th.sortable:last-child,
.vine-table .stylize thead tr td.sortable:last-child {
    padding-right: 30px;
}

.vine table .stylize .vine-arrows {
    position: absolute;
    top: 0;
    right: 0;
}

.vine-table .stylize .vine-arrow-up {
    position: absolute;
    top: 0em;
    right: -15px;
    width: 0;
    height: 0;
    border-width: 0.5em;
    border-style: solid;
    border-color: transparent transparent #777 transparent;
}

.vine-table .stylize .vine-arrow-down {
    position: absolute;
    top: 0.5em;
    right: -15px;
    width: 0;
    height: 0;
    border-width: 0.5em;
    border-style: solid;
    border-color: #777 transparent transparent transparent;
}

.vine-table .stylize .vine-arrows .vine-arrow-up {
    position: absolute;
    top: -5px;
    border-color: transparent transparent #bbb transparent;
}

.vine-table .stylize .vine-arrows .vine-arrow-down {
    position: absolute;
    top: 14px;
    border-color: #bbb transparent transparent transparent;
}

.vine-table .vine-search-wrap {
    line-height: 2.5em;
    padding: 10px;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.vine-table .vine-search {
    float: left;
    width: 33.33%;
    overflow: hidden;
    position: relative;
}

.vine-table .vine-search-icon {
    position: absolute;
    top: 0;
    right: 10px;
    color: #aaa;
    cursor: pointer;
    line-height: inherit;
}

.vine-table .vine-search-icon:hover {
    color: #555;
}

.vine-table .vine-title {
    font-size: 1.1em;
    color: #555;
    font-weight: bold;
    width: 66.66%;
    overflow: hidden;
    position: relative;
}

.vine-table .vine-pages {
    overflow: hidden;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 0 10px;
    position: relative;
}

.vine-table .vine-page-options {
    float: left;
    overflow: hidden;
    padding: 10px 0;
    position: relative;
    width: 33.33%;
}

.vine-table .vine-page-list {
    float: right;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    padding: 10px 0 0 10px;
    list-style: none;
}

.vine-table .vine-fill,
.vine-table .vine-page {
    float: left;
}

.vine-table .vine-fill {
    line-height: 2em;
    margin-right: -10px;
    padding: 0 10px;
}

.vine-table .vine-page {
    line-height: 2.5em;
    margin-left: 10px;
    cursor: pointer;
    height: 2.5em;
}

.vine-table .vine-page i {
    display: block;
    border: 1px solid #ccc;
    margin: 0;
    font-style: normal;
    padding: 0 10px;
    height: 2.5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/**
 * Phones only.
 */
.vine-table.vine-small.responsive table,
.vine-table.vine-small.responsive tbody,
.vine-table.vine-small.responsive th,
.vine-table.vine-small.responsive tr,
.vine-table.vine-small.responsive td {
    display: block;
    float: left;
    overflow: hidden;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vine-table.vine-small.responsive thead {
    display: none;
}

.vine-table.vine-small.responsive tr {
    width: 100%;
    border-top: 1px solid #ccc;
}

.vine-table.vine-small.responsive tr:first-child {
    border: 0 !important;
}

.vine-table.vine-small.responsive td {
    border: 0;
    width: 65%;
    padding: 7px 10px;
    background-color: #fff;
    border-left: 1px solid #ccc;
}

.vine-table.vine-small.responsive td.column-name {
    border: 0;
    width: 35%;
    padding: 7px 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;
    border-left: 0 !important;
    font-weight: bold;
}

.vine-table.vine-small.responsive .vine-sort-wrap,
.vine-table.vine-small.responsive .vine-sort-label,
.vine-table.vine-small.responsive .vine-sort-field {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vine-table.vine-small.responsive .vine-sort-wrap {
    display: block;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.vine-table.vine-small.responsive .vine-sort-label {
    float: left;
    width: 35%;
    padding: 10px;
    margin: 0;
    text-align: right;
}

.vine-table.vine-small.responsive .vine-sort-label-inner {
    height: 2.5em;
    line-height: 2.5em;
}

.vine-table.vine-small.responsive .vine-sort-field {
    float: right;
    width: 65%;
    padding: 10px;
    border-left: 1px solid #ccc;
}

.vine-table.vine-small.responsive .vine-sort {
}

/**
 * Phone Styles
 */
@media (max-width: 767px) { }

/**
 * Tablet Styles
 */
@media (min-width: 768px) { }

/**
 * Desktop Styles
 */
@media (min-width: 992px) { }