/node_modules

/public/hot

/public/storage

/storage/*.key
# Laravel storage & cache


# Ignore everything in storage except required folders
/storage/*
!/storage/app/
!/storage/framework/
!/storage/framework/cache/
!/storage/framework/sessions/
!/storage/framework/views/
!/storage/logs/

# Allow .gitignore files inside them
!/storage/app/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/.gitignore


/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

/vendor

.env

.env.backup

lien_manager.sql

.phpunit.result.cache

docker-compose.override.yml

Homestead.json

Homestead.yaml

npm-debug.log

yarn-error.log

/.idea

/.vscode

