#vine-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9996;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
}

#vine-overlay.vine-small {
    background-color: #fff;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
}

.vine [data-widget="dialog"],
.vine[data-widget="dialog"] {
    display: none;
}

.vine.vine-dialog {
    z-index: 9997;
    display: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
}

.vine-dialog .title {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 0 0 15px;
    width: 100%;
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    color: #555;
    font-weight: bold;
    line-height: 44px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 3em;
}

.vine-dialog .close {
    color: #777;
    text-decoration: none;
    font-size: 32px;
    line-height: 42px;
    cursor: pointer;
}

.vine-dialog .close:hover {
    color: #444;
    text-decoration: none;
}

.vine-dialog.has-title .close {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 9999;
}

.vine-dialog.no-title .close {
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding: 0 10px;
    position: absolute;
    top: 0;
    z-index: 9999;
    text-align: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.vine-dialog .alert {
    margin-left: 15px;
    margin-right: 15px;
}

.vine-dialog .content {
    overflow: hidden;
    padding: 0 15px 15px;
    width: auto;
}

.vine-dialog .row .pad:first-child {
    padding-left: 0;
}

.vine-dialog .row .pad:last-child {
    padding-right: 0;
}

.vine-dialog .actions {
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    border-top: 1px solid #ccc;
}

.vine-dialog .actions .button {
    float: left;
    margin: 0 15px 0 0;
}

.vine-dialog .close:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f00d";
}

button.button.vine-modal {
    color: #fff !important;
    border-radius: 0;
    padding: 5px;
}

/**
 * Phones, Tablets
 */
@media (max-width: 1024px) {
}


/**
 * Tablets, Desktops
 */
@media (min-width: 768px) {

    .vine.vine-dialog {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 640px;
        height: auto;
        border: 1px solid #444;
    }

}

/**
 * Phones
 */
@media (max-width: 767px) {

    .vine.vine-dialog {
        position: absolute;
        top: 0;
        left: 0;
        min-height: 100%;
        width: 100%;
    }

}

/**
 * Small phones
 */
@media (max-width: 480px) {

    .vine-dialog [class*="col-"] {
        width: 100%;
        padding: 0;
    }

}

/**
 * Tablets
 */
@media (min-width: 768px) and (max-width: 1024px) {
}

/**
 * Desktops
 */
@media (min-width: 1025px) {
}