/**
 * Use the .vine-strict class when you're unable to use the reset.css stylesheet. For
 * example, when working with a template or design someone else created, add the
 * .vine-strict class to the content container element. This way you can take advantage
 * of normalized styles without the risk of breaking other parts of the design or
 * template.
 */

.vine-strict {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #000;
}

.vine-strict * {
    outline: 0;
    font-size: 1em;
    line-height: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.vine-strict *:focus {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html.vine-strict,
body.vine-strict,
.vine-strict body,
.vine-strict h1,
.vine-strict h2,
.vine-strict h3,
.vine-strict h4,
.vine-strict h5,
.vine-strict h6,
.vine-strict p,
.vine-strict ul,
.vine-strict ol,
.vine-strict form,
.vine-strict fieldset,
.vine-strict table,
.vine-strict tr,
.vine-strict th,
.vine-strict td,
.vine-strict blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
}

.vine-strict article,
.vine-strict aside,
.vine-strict details,
.vine-strict figcaption,
.vine-strict figure,
.vine-strict footer,
.vine-strict header,
.vine-strict hgroup,
.vine-strict main,
.vine-strict nav,
.vine-strict section,
.vine-strict summary {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

.vine-strict a {
    background: transparent;
    color: #1450c8;
}

.vine-strict a:hover {
    text-decoration: none;
}

.vine-strict img {
    display: inline-block;
    border: 0;
    vertical-align: middle;
}

.vine-strict h1,
.vine-strict h2,
.vine-strict h3,
.vine-strict h4,
.vine-strict h5,
.vine-strict h6 {
    margin: 15px 0 0;
    font-weight: bold;
    font-size: 1em;
}

.vine-strict p {
    margin: 15px 0 0;
    line-height: 1.5;
}

.vine-strict b,
.vine-strict strong {
    font-weight: bold;
}

.vine-strict ul {
    list-style: disc;
}

.vine-strict li {
    line-height: 1.5;
}

.vine-strict ul,
.vine-strict ol {
    margin: 15px 0 15px 0;
    list-style-position: inside;
    line-height: 1.5;
}

.vine-strict ul li ul,
.vine-strict ul li ol,
.vine-strict ol li ul,
.vine-strict ol li ol {
    margin: 0 0 0 30px;
}

.vine-strict table {
    border-spacing: 0;
    border-collapse: collapse;
}

.vine-strict th {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: bold;
}

.vine-strict td {
    margin: 0;
    padding: 0;
}

.vine-strict hr {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 15px 0 0;
    height: 1px;
    border: 0;
    background: #ccc;
}