/* CSS Document */
html,body,p,td,div,span
{
    font-size: 14px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}

@page PageSection {
    size: portrait;
    margin: 1cm;
}

.Affadavit
{
    width:665px;
    border:solid 1px black;
    padding:2px;
    margin-top:auto;
    margin-bottom:auto;
    page:PageSection;
    font-size:11px;
    page-break-inside:avoid;
}
.Affadavit p,td,div,span,input
{
    font-size:14px;
}
.AffadavitInputLine
{
    border: 1px solid #fff;
    border-bottom: 1px solid #000;
    color: #000000;
    font-size: 14px;
    line-height:13px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin-bottom:0px;
    padding-bottom:0px;
    overflow:visible;
    width:auto;
}
.BorderBottom
{
    border-bottom:solid 1px black;
}
.data_sheet
{
    border: 1px solid #666600;
}
.FaxInstructions
{

    font-size: 16px;
    font-weight: bold;
    font-family: "Arial Black";
    padding:5px 10px;
    display: block;
    width: 100%;
}
.FieldLabel{
    display:block;
    float:left;
    padding-left:5px;
    background-color: #fff;
}
.Font16px
{
    font-size: 16px
}

.Font7pt
{
    font-size: 7pt
}
.Font10
{
    font-size:10pt;
}

.InputLine
{
    border: 1px solid #fff;
    border-bottom: 1px solid #000;
    color: #000000;
    font-size: 14px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin-bottom:0px;
    padding-bottom:0px;
    overflow:visible;
    width:auto;
}

.MainDocument
{
    width:665px;
    border:solid 1px black;
    padding:2px;
    margin-top:auto;
    margin-bottom:auto;
    vertical-align:middle;
    position:relative;
    /*page-break-after:always;*/
    page:PageSection;
}
.NLBHeader
{
    font-size: 25px;
    font-weight: bold;
    font-family: Tahoma, Arial;
    font-style: italic;
}
.Response
{
    text-decoration:underline;
}


