html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #000;
}

* {
    outline: 0;
    font-size: 1em;
    font-family: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus {
    outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
form,
fieldset,
table,
tr,
th,
td,
blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    background: transparent;
    color: #1450c8;
}

a:hover {
    text-decoration: none;
}

img {
    display: inline-block;
    border: 0;
    vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 15px 0 0;
    font-weight: bold;
    font-size: 1em;
}

p {
    margin: 15px 0 0;
    line-height: 1.5;
}

b,
strong {
    font-weight: bold;
}

ul {
    list-style: disc;
}

li {
    line-height: 1.5;
}

ul,
ol {
    margin: 15px 0 15px 0;
    list-style-position: inside;
    line-height: 1.5;
}

ul li ul,
ul li ol,
ol li ul,
ol li ol {
    margin: 0 0 0 30px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    margin: 0;
    padding: 0;
    text-align: left;
    font-weight: bold;
}

td {
    margin: 0;
    padding: 0;
}

hr {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 15px 0 0;
    height: 1px;
    border: 0;
    background: #ccc;
}