/* [BEGIN] helpers.css */

.vine hr           { background-color: #ddd; }
.vine .line-top    { border-top: 1px solid #ddd; }
.vine .line-bottom { border-bottom: 1px solid #ddd; }

/* [END] helpers.css */
/* ##### */
/* ##### */
/* ##### */
/* [BEGIN] grid.css */

/* [END] grid.css */
/* ##### */
/* ##### */
/* ##### */
/* [BEGIN] buttons.css */

.vine .button {
    border: 1px solid #e7e7e7;
    background-color: #f8f8f8;
    color: #337ab7;
}

.vine .button:hover,
.vine .button:focus {
    border: 1px solid #ccc;
    background-color: #eee;
    color: #23527c;
}

.vine .button:active {
    border-color: #aaa;
    background-color: #eee;
    -webkit-box-shadow: inset 0 1px 5px #ccc;
    -moz-box-shadow: inset 0 1px 5px #ccc;
    box-shadow: inset 0 1px 5px #ccc;
}

.vine .button.fixate {
    border-color: #226491;
    background-color: #378cd2;
    color: #fff;
}

.vine .button.fixate:hover,
.vine .button.fixate:focus {
    background-color: #3282be;
}

.vine .button.fixate:active {
    -webkit-box-shadow: inset 0 1px 5px #285f8c;
    -moz-box-shadow: inset 0 1px 5px #285f8c;
    box-shadow: inset 0 1px 5px #285f8c;
}

.vine .button.success {
    border-color: #2d963c;
    background-color: #3cb950;
    color: #fff;
}

.vine .button.success:hover,
.vine .button.success:focus {
    background-color: #37aa4a;
}

.vine .button.success:active {
    -webkit-box-shadow: inset 0 1px 5px #288737;
    -moz-box-shadow: inset 0 1px 5px #288737;
    box-shadow: inset 0 1px 5px #288737;
}

.vine .button.caution {
    border-color: #e6a555;
    background-color: #f5af5f;
    color: #fff;
}

.vine .button.caution:hover,
.vine .button.caution:focus {
    border-color: #d28c46;
    background-color: #eba055;
}

.vine .button.caution:active {
    -webkit-box-shadow: inset 0 1px 5px #c88c46;
    -moz-box-shadow: inset 0 1px 5px #c88c46;
    box-shadow: inset 0 1px 5px #c88c46;
}

.vine .button.failure {
    border-color: #c34646;
    background-color: #eb5a5a;
    color: #fff;
}

.vine .button.failure:hover,
.vine .button.failure:focus {
    background-color: #cd4646;
    border-color: #962323;
}

.vine .button.failure:active {
    -webkit-box-shadow: inset 0 1px 5px #a02d2d;
    -moz-box-shadow: inset 0 1px 5px #a02d2d;
    box-shadow: inset 0 1px 5px #a02d2d;
}

/* [END] buttons.css */
/* ##### */
/* ##### */
/* ##### */
/* [BEGIN] forms.css */

.vine .zone,
.vine .fieldset {
    border: 1px solid #e7e7e7;
}

.vine .zone-head,
.vine .legend {
    border-bottom: 1px solid #eee;
    background-color: #EEE;
    color: #777;
    font-weight: bold;
}

.vine .legend span {
    font-weight: normal;
}

.vine label {
    color: #444;
}

.vine input[type="text"],
.vine input[type="password"],
.vine input[type="number"],
.vine input[type="file"],
.vine textarea,
.vine select {
    border: 1px solid #e7e7e7;
    background-color: #fafafa;
    -webkit-box-shadow: inset 0 1px 3px #f2f2f2;
    -moz-box-shadow: inset 0 1px 3px #f2f2f2;
    box-shadow: inset 0 1px 3px #f2f2f2;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    transition: all 0.20s ease-in-out;
    color: #333;
}

.vine input[type="text"]:focus,
.vine input[type="password"]:focus,
.vine input[type="number"]:focus,
.vine input[type="file"]:focus,
.vine textarea:focus,
.vine select:focus {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 0 0 #eee, 0 0 5px #ddd;
    -moz-box-shadow: inset 0 0 0 #eee, 0 0 5px #ddd;
    box-shadow: inset 0 0 0 #eee, 0 0 5px #ddd;
}

.vine-select,
.vine-file {
    border: 1px solid #e7e7e7;
    background-color: #fafafa;
    -webkit-box-shadow: inset 0 1px 3px #f2f2f2;
    -moz-box-shadow: inset 0 1px 3px #f2f2f2;
    box-shadow: inset 0 1px 3px #f2f2f2;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    transition: all 0.20s ease-in-out;
    color: #333;
}

.vine-file .vine-button {
    background-color: #f5f5f5;
    border: 1px solid #e7e7e7;
    color: #444;
}

.vine-file.vine-focus .vine-button {
    background-color: #efefef;
    border: 1px solid #ccc;
    color: #000;
}

.vine-select .vine-arrow {
    border-color: #aaa transparent transparent transparent;
}

.vine-select.vine-focus,
.vine-file.vine-focus {
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 0 0 #eee, 0 0 5px #ddd;
    -moz-box-shadow: inset 0 0 0 #eee, 0 0 5px #ddd;
    box-shadow: inset 0 0 0 #eee, 0 0 5px #ddd;
}

.vine-select.vine-focus .vine-arrow {
    border-color: #555 transparent transparent transparent;
}

/* [END] forms.css */
/* ##### */
/* ##### */
/* ##### */
/* [BEGIN] tables.css */

.vine-table .stylize {
    border: 1px solid #e7e7e7;
}

.vine-table .stylize tbody tr td.empty-text {
    color: #777;
}

.vine-table .stylize thead th,
.vine-table .stylize thead td {
    background: #f5f5f5;
    color: #777;
    font-weight: bold;
    border-color: #eee;
}

.vine-table.vine-small.responsive tr {
    background: #f5f5f5;
    color: #777;
    border-color: #eee;
}

.vine-table.vine-small.responsive td {
    border-color: #eee;
}

.vine-table.vine-small.responsive td.column-name {
    font-weight: bold;
}

.vine-table.vine-small.responsive .vine-sort-wrap {
    border-color: #eee;
}

.vine-table.vine-small.responsive .vine-sort-label {
    background: #fff;
    color: #555;
    font-weight: bold;
}

.vine-table.vine-small.responsive .vine-sort-field {
    border-color: #eee;
}

.vine-table .stylize tbody tr td {
    border-top: 1px solid #eee;
}

.vine-table .stylize tbody tr:hover td {
    background: #DEE5EB;
}

.vine-table .stylize .vine-arrow-up {
    border-color: transparent transparent #777 transparent;
}

.vine-table .stylize .vine-arrow-down {
    border-color: #777 transparent transparent transparent;
}

.vine-table .stylize .vine-arrows .vine-arrow-up {
    border-color: transparent transparent #bbb transparent;
}

.vine-table .stylize .vine-arrows .vine-arrow-down {
    border-color: #bbb transparent transparent transparent;
}

.vine-table.has-search table,
.vine-table.has-title table {
    border-top: 0;
}

.vine-table.has-pages table {
    border-bottom: 0;
}

.vine-table .vine-search-wrap {
    border: 1px solid #d5d5d5;
    background-color: #e9e9e9;
}

.vine-table .vine-title {
    color: #656565;
}

.vine-table .vine-search-wrap .vine-search-field {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
}

.vine-table .vine-pages {
    border: 1px solid #d5d5d5;
    background-color: #e9e9e9;
}

.vine-table .vine-pages .vine-select {
    background-color: #fcfcfc !important;
    border: 1px solid #ccc;
}

.vine-table .vine-page i {
    border: 1px solid #ccc;
    background-color: #fff;
}

.vine-table .vine-page.active i {
    background-color: #fafaf0;
}

.vine-table .vine-page:hover i {
    border: 1px solid #aaa;
}

.vine-rounded .vine-table .vine-page i {
    border-radius: 4px;
}

/* [END] tables.css */
/* ##### */
/* ##### */
/* ##### */
/* [BEGIN] alerts.css */

.vine .alert {
    border: 1px solid #e7e7e7;
}

.vine .alert.default {
    border-color: #b4dcff;
    background-color: #e1f0ff;
    color: #3c6496;
}

.vine .alert.success {
    border-color: #aaf0a5;
    background-color: #d7f5d7;
    color: #146414;
}

.vine .alert.caution {
    border-color: #f0f0a5;
    background-color: #fafac8;
    color: #a0a000;
}

.vine .alert.failure {
    border-color: #ffc3c3;
    background-color: #ffe6e6;
    color: #b44646;
}

/* [END] alerts.css */
/* ##### */
/* ##### */
/* ##### */
/* [BEGIN] dialogs.css */

.vine-dialog .actions {
    border-top: 1px solid #ddd;
}

/* [END] dialogs.css */
/* ##### */
/* ##### */
/* ##### */
/* [BEGIN] calendars.css */

/* [END] calendars.css */
